.compoSearch{
    width:189px;
    height: 31px;
    margin-top: 1.2rem;
    margin-left: 3.5rem;
    border-radius:2rem;
    border: 1.5px solid #7b7a7a;
    text-align: left;
    padding-left: 0.5rem;
}

.component_type{
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    margin-left: 6rem;
    padding-left: 0.6rem;
    width: 112px;
    height: 36px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 4px;
    appearance: none;
    background: url('../img/sort-arrows-couple-pointing-up-and-down.png') no-repeat 90% 50%;
    background-size: 15px 21px;
    color: #3e5a48;
}
.compoTitle{
    width:316px;
    height:30px;
    background-color: #ffe6d5;
    text-align: center;
    color: #397c96;
    font-size: 14.5px;
    font-weight: 550;
    padding-top: 0.3rem;
}
.compoList{
    overflow:auto;
    height:705px;
    width: 317px;
}

.compo{
    width: 230px;
    height: 38px;
    margin-left: 2.5rem;
    margin-bottom: 0.7rem;
    background-color: white;
    border: 2px solid #bbb8b8;
    color: #bbb8b8;
    font-size: 15px;
}
.compo:hover{
    border-color: #909090;
    color: #20323a;
    font-weight: 550;
    background-color: #e0eaec;
}
.compoAdd{
    width: 178px;
    height: 38px;
    margin-left: 3.7rem;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    font-weight: 550;
    color: #20323a;
    border-radius: 3px;
    font-size: 13.5px;
    border:none;
    background-color: #b3ccd2;
}
.com_tab{
    background-color: #ffe6d5;
    color: #397c96;
    width:158px;
    height: 26px;
    margin-top: -10px;
    border-radius: 0.2rem;
    text-align: center;
    padding-top: 0.7rem;
    font-weight: 550;
    font-size: 14.5px;
    float:right;
}
.temp_tab{
    width: 158px;
    height: 24px;
    background-color: #e8e8e8;
    color: #bfbfbf;
    text-align: center;
    padding-top: 0.2rem;
    margin-top: 0px;
    float: left;
    font-weight: 550;
    font-size: 14.5px;
}
.temp_prop{
    width: 160px;
    height: 24px;
    background-color: #e8e8e8;
    color: #bfbfbf;
    text-align: center;
    padding-top: 0.2rem;
    margin-top: 0px;
    font-weight: 550;
    font-size: 14.5px;
    float:left;
}
.com_prop{
    background-color: #ffe6d5;
    color: #397c96;
    width:157px;
    height: 26px;
    margin-top: -10px;
    border-radius: 0.2rem;
    text-align: center;
    padding-top: 0.7rem;
    font-weight: 550;
    font-size: 14.5px;
    float: right;
}
.temp_tab:hover, .com_tab:hover, .temp_prop:hover, .com_prop:hover{
    color:#397c96;
}
.compoSection{
    width: 301px;
    margin-top: 0.3rem;
}

.compoAdd{
    width: 178px;
    height: 38px;
    margin-left: 4.1rem;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    font-weight: 550;
    color: #20323a;
    border-radius: 3px;
    font-size: 13.5px;
    border:none;
    background-color: #b3ccd2;
}
.propTitle{
    font-size: 15px;
    font-weight: 600;
    color: #4b5950;
    margin-top: 1.2rem;
    margin-right: 3.3rem;
}

.propName{
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #a59292;
    padding: 0.3rem;
    width: 122px;
    margin-top: 1rem;
    margin-left: 5rem;
    margin-bottom: 1rem;
    font-size: 14.5px;
    float: left;
}

.boxTitle{
    width: 20px;
    margin-left: 0.5rem;
    margin-top: 0.7rem;
    margin-bottom: 0.4rem;
    color: #556998;
    font-weight: 550;
    font-size: 15px;
}

.prop_width_tx{
    width: 53px;
    margin-top: 0.3rem;
    float:left;
    font-size: 14px;
    color: #a09d9d;
    font-weight: 550;
}
.prop_width, .prop_height{
    float:left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 56px;
    margin-top: 0.3rem;
    text-align: right;
    font-size:13px;
}
.prop_width_px{
    float:left;
    margin-left: 0.4rem;
    color: #a09d9d;
    font-weight: 550;
}

.prop_height_tx{
    float:left;
    margin-left: 1.5rem;
    margin-right: 0.4rem;
    margin-top: 0.1rem;
    color: #a09d9d;
    font-weight: 550;
    font-size: 14px;
}
.prop_height_px{
    float:left;
    margin-left: 0.4rem;
    color: #a09d9d;
    font-weight: 550;
}
.borderTitle{
    width: 20px;
    margin-left: 0.5rem;
    margin-top: 2.8rem;
    color: #a09d9d;
    font-weight: 550;
    font-size: 14px;
}
#img_down_border{
    width: 16px;
    height: 19px;
    float: left;
    margin-top: -1rem;
    margin-left: 4.45rem;
}
.border_pop, .padding_pop, .margin_pop{
    width: 16px;
    height: 19px;
    float: left;
    margin-top: -1rem;
    margin-left: 4.5rem;
}
.border_pop:hover, .padding_pop:hover, .margin_pop:hover, #img_down_file:hover{
    content: url('../img/arrow-down-sign-to-navigate_orange.png')
}
.paddingTitle{
    width: 20px;
    margin-left: 0.5rem;
    margin-top: 0.8rem;
    color: #a09d9d;
    font-weight: 550;
    font-size: 14px;
}
.marginTitle{
    width: 20px;
    margin-left: 0.5rem;
    margin-top: 0.8rem;
    color: #a09d9d;
    font-weight: 550;
    font-size: 14px;
}
.backgroundTitle{
    width: 125px;
    margin-left: 0.2rem;
    margin-top: 1rem;
    color: #a09d9d;
    font-weight: 550;
    font-size: 14px;
}
#background_section{
    border: 0.5px solid #a59292;
    width: 148px;
    margin-left: 8.3rem;
    margin-bottom: 0.4rem;
}
.arrayTitle{
    width: 40px;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    color: #a09d9d;
    font-weight: 550;
    font-size: 14px;
    float:left;
}
#img_left_array{
    width:27px;
    height:22px;
    margin-top:0.4rem;
    margin-left: 0.8rem;
    margin-right: 1rem;
    float:left;
}

#img_center_array{
    width:24px;
    height:22px;
    margin-top: 0.4rem;
    float:left;
}
#img_right_array{
    width:26px;
    height:22px;
    margin-left: 1rem;
    margin-top: 0.4rem;
    float:left;
}
#img_justify_array{
    width:25px;
    height:22px;
    margin-left: 1.2rem;
    margin-top: 0.4rem;
    float: left;
}
.arraySection{
    border: 0.5px solid #a59292;
    width: 164px;
    margin-left: 3.2rem;
    margin-top:2.3rem;
}

.iconTitle{
    width: 37px;
    margin-left: 0.3rem;
    margin-top: 3.5rem;
    margin-bottom: 0.4rem;
    color: #556998;
    font-weight: 550;
    font-size: 15px;
}

.iconSection{
    padding-left: 0.6rem;
    width: 102px;
    height: 29px;
    font-size: 12px;
    border: 1.5px solid #979f9a;
    border-radius: 4px;
    appearance: none;
    background: url('../img/sort-arrows-couple-pointing-up-and-down.png') no-repeat 92% 44%;
    background-size: 15px 21px;
    color: #3e5a48;
    float:left;
    margin-top: -1.8rem;
    margin-left: 3.5rem;
}
#icon_front{
    width: 19px;
    height:20px;
    float: left;
    margin-top:-2.5rem;
    margin-left: 3rem;
}
#icon_back{
    width: 19px;
    height:20px;
    float: left;
    margin-top: -0.6rem;
    margin-left: 0.9rem;
}
#icon_fron{
    position: absolute;
    width: 1px;
    height: 1px;
    padding:0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

.front_tx{
    float:left;
    font-size: 12px;    
    font-weight: 550;
    color: #4e5b53;
    margin-top: -2.5rem;
    margin-left: 1.3rem;
}
.back_tx{
    float: left;
    font-size: 12px;
    font-weight: 550;
    color: #4e5b53;
    margin-top: -0.8rem;
    margin-left: 1.28rem;
}

.fontTitle{
    width: 37px;
    margin-left: 0.4rem;
    margin-top: 3rem;
    margin-bottom: 0.4rem;
    color: #556998;
    font-weight: 550;
    font-size: 15px;
}
.size{
    width: 20px;
    margin-left: 0.7rem;
    margin-top: 0.7rem;
    color: #a09d9d;
    font-weight: 550;
    font-size: 14px;
}
.size_input{
    float:left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 55px;
    margin-top: -1.2rem;
    margin-left: 2.5rem;
    padding-left: 0.2rem;
    text-align:right;
}
.size_px{
    float:left;
    margin-left: 6.7rem;
    color: #a09d9d;
    font-weight: 550;
    margin-top:-1.4rem;
    font-size: 14px;
}
.line_height{
    width: 68px;
    margin-left: 9rem;
    margin-top: -1rem;
    color: #a09d9d;
    font-weight: 550;
    font-size: 14px;
    line-height: 0.7rem;
}
.line_height_input{
    float:left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 50px;
    margin-top: -1.2rem;
    margin-left: 13.5rem;
    padding-left: 0.2rem;
    text-align:right;
}
.line_height_px{
    float:left;
    margin-left: 17.3rem;
    color: #a09d9d;
    font-weight: 550;
    margin-top:-1.4rem;
    font-size: 14px;
}
.weight{
    width: 20px;
    margin-left: 0.5rem;
    margin-top: 0.85rem;
    color: #a09d9d;
    font-weight: 550;
    font-size: 14px;
    float:left;
}
.weightSection{
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 70px;
    margin-left: 1.8rem;
    margin-top: 0.8rem;
    padding: 0.2rem;
    float:left;
}
.color{
    width: 20px;
    margin-top: 0.8rem;
    margin-left: 2.1rem;
    color: #a09d9d;
    font-weight: 550;
    font-size: 14px;
    float: left;
}
.colorSection{
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 80px;
    float:left;
    margin-left: 1.3rem;
    margin-top: 2rem;
}
.family{
    width: 20px;
    margin-left: 9.8rem;
    margin-top: 1rem;
    color: #a09d9d;
    font-weight: 550;
    font-size: 13px;
}
.familySection{
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 81px;
    margin-left: 4.5rem;
    margin-top: -1.2rem;
    padding: 0.2rem;
    float:left;
}
.style{
    width: 20px;
    margin-left: -16.6rem;
    margin-top: 1.3rem;
    color: #a09d9d;
    font-weight: 550;
    font-size: 14px;
    float:left;
}
.styleSection{
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 76px;
    margin-left: -14rem;
    margin-top: 1rem;
    padding: 0.2rem;
    float:left;
}
.linkTitle{
    width: 37px;
    margin-left: 0.5rem;
    margin-top: 4rem;
    margin-bottom: 0.4rem;
    color: #556998;
    font-weight: 550;
    font-size: 16px;
}
.url_tx{
    width: 20px;
    margin-left: 1rem;
    margin-top: 0.7rem;
    color: #a09d9d;
    font-weight: 550;
    font-size: 14px;
}
.url_input{
    float:left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 210px;
    margin-top: -1.3rem;
    margin-left: 3.7rem;
    padding: 0.2rem;
}
.target_tx{
    width: 20px;
    margin-left: 0.6rem;
    margin-top: 1rem;
    color: #a09d9d;
    font-weight: 550;
    font-size: 14px;
}

.targetNew_tx{
    float:left;
    font-size: 12px;
    font-weight: 550;
    color: #4e5b53;
    margin-top: -1.1rem;
    margin-left: 5rem;
}
#targetNew{
    width: 18px;
    height: 18px;
    float:left;
    margin-top: -1.1rem;
    margin-left: 7.3rem;
}
.targetNow_tx{
    float:left;
    font-size: 12px;
    font-weight: 550;
    color: #4e5b53;
    margin-top: -1.1rem;
    margin-left: 2.5rem;
}
#targetNow{
    width: 18px;
    height: 18px;
    float:left;
    margin-top: -1.1rem;
    margin-left: 5.6rem;
}
.urlSection{
    border-bottom:1px solid #a59292;
    margin-top: 0.2rem;
    width: 213px;
    margin-left: 3.7rem;
}
.mappingTitle{
    width: 71px;
    margin-left: 0.4rem;
    margin-top: 3rem;
    margin-bottom: 0.4rem;
    color: #556998;
    font-weight: 550;
    font-size: 15px;
}
.field_tx{
    width: 43px;
    margin-left: 1rem;
    margin-top: 0.7rem;
    color: #a09d9d;
    font-weight: 550;
    font-size: 14px;
}
.field_input{
    float:left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 184px;
    margin-top: -1.3rem;
    margin-left: 4.2rem;
    margin-bottom: 1rem;
    padding: 0.2rem;
}
.property_section{
    width:316px;
    height:784px;
    overflow:auto;
}
.prop_reset{
    width: 59px;
    height: 25px;
    background-color: transparent;
    border-color: #4c7b69;
    font-size: 13px;
    float:left;
    border: 1px solid #5d4a4a;
    margin-left: 5.5rem;
    margin-top: 0.2rem;
}

.prop_save{
    width: 59px;
    height: 25px;
    background-color: transparent;
    border-color: #4c7b69;
    font-size:13px;
    border: 1px solid #5d4a4a;
    margin-top: 0.2rem;
    margin-left: -5rem;
}

.photoInfoTitle{
    width: 71px;
    margin-left: 0.4rem;
    margin-top: 3rem;
    margin-bottom: 0.4rem;
    color: #556998;
    font-weight: 550;
    font-size: 15px;
}

.photoDate_tx{
    width: 60px;
    margin-left: 0.65rem;
    margin-top: 0.8rem;
    color: #a09d9d;
    font-weight: 550;
    font-size: 13.5px;
}
.photoDate{
    float:left;
    margin-top: -2.25rem;
    margin-left: 2.9rem;
    border-radius: 0.3rem;
    border: 1.4px solid #9c7d7d;
    padding: 0.2rem;
}
.photoPlace_tx{
    width: 60px;
    margin-left: 0.7rem;
    margin-bottom: 1.5rem;
    color: #a09d9d;
    font-weight: 550;
    font-size: 13.5px;
}

.photoPlace{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #a59292;
    padding: 0.2rem;
    width: 167px;
    float:left;
    margin-top: -3.1rem;
    margin-left: 5.5rem;
}
.fileInfoTitle{
    width: 71px;
    margin-left: 0.4rem;
    margin-top: 2.8rem;
    margin-bottom: 1rem;
    color: #556998;
    font-weight: 550;
    font-size: 15px;
}

.fileName_tx, .filePath_tx, .fileDes_tx, .fileResolution_tx, .fileFormat_tx, 
.fileSize_tx, .filePlaytime_tx{
    width: 60px;
    margin-left: 0.65rem;
    margin-top: 0.7rem;
    color: #a09d9d;
    font-weight: 550;
    font-size: 14px;
}
.fileName, .filePath, .fileDes, .fileResolution, .fileFormat, .fileSize, .filePlaytime{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #a59292;
    padding: 0.3rem;
    width: 175px;
    float:left;
    margin-top: -1.5rem;
    margin-left: 4.7rem;
    margin-bottom: 1rem;
}
#img_down_file{
    width: 16px;
    height: 19px;
    float: left;
    margin-top: -2.2rem;
    margin-left: 5.5rem;
}

.autoPlayTitle{
    width: 71px;
    margin-left: 0.5rem;
    margin-top: 2.8rem;
    margin-bottom: 1.8rem;
    color: #556998;
    font-weight: 550;
    font-size: 15px;
}
.markTitle{
    width: 71px;
    margin-left: 0.5rem;
    margin-top: 2.8rem;
    margin-bottom: 1.8rem;
    color: #556998;
    font-weight: 550;
    font-size: 15px;
}
#autoplay, #mark{
    width: 27px;
    height: 21px;
    float:left;
    margin-top: -3rem;
    margin-left: 5.25rem;
    margin-bottom: 2.3rem;
}
.pop_border{
    width:196px;
    height:100px;
    float:left;
    margin-left: -5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid white;
    border-radius: 9px;
}
.pop_border_width{
    width:87px;
    margin-left: -0.2rem;
    margin-top: 0.4rem;
    float:left;
    font-size: 14px;
    color: #548c7d;
}
.pop_border_width_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 70px;
    margin-left: 0.7rem;
    margin-top: 0.4rem;
    text-align: right;
}
.pop_border_width_px{
    width:87px;
    margin-left: 8.5rem;
    margin-top: -1.2rem;
    float:left;
    font-size: 14px;
    color: #548c7d;
}
.pop_border_color{
    width:87px;
    margin-left: -0.3rem;
    margin-top: 0.7rem;
    float:left;
    font-size: 14px;
    color: #548c7d;
}
.pop_border_color_section{
    border: 0.5px solid #a59292;
    width: 148px;
    margin-left: 5.9rem;
    margin-top: -0.2rem;
    float:left;
}
.pop_border_style{
    width:87px;
    margin-left: -0.35rem;
    margin-top: 0.7rem;
    float:left;
    font-size: 14px;
    color: #548c7d;
}
.pop_border_style_section{
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 75px;
    margin-left: 5.8rem;
    margin-top: -1.45rem;
    padding: 0.2rem;
    float:left;
}

.pop_padding{
    width:196px;
    height:126px;
    float:left;
    margin-left: -5rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid white;
    border-radius: 9px;
}
.pop_padding_top{
    width:87px;
    margin-left: -0.3rem;
    margin-top: 0.4rem;
    float:left;
    font-size: 14px;
    color: #548c7d;
}
.pop_padding_top_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 70px;
    margin-left: 0.7rem;
    margin-top: 0.4rem;
    text-align: right;
}
.pop_padding_top_px{
    width:87px;
    margin-left: 8.5rem;
    margin-top: -1.2rem;
    float:left;
    font-size: 14px;
    color: #548c7d;
}

.pop_padding_right{
    width:87px;
    margin-top: 0.9rem;
    float:left;
    font-size: 14px;
    color: #548c7d;
}
.pop_padding_right_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 70px;
    margin-left: 5.9rem;
    margin-top: -1.2rem;
    text-align: right;
}
.pop_padding_right_px{
    width:87px;
    margin-left: 8.5rem;
    margin-top: -1.2rem;
    float:left;
    font-size: 14px;
    color: #548c7d;
}
.pop_padding_bottom{
    width:114px;
    margin-left: -0.3rem;
    margin-top: 1rem;
    float:left;
    font-size: 14px;
    color: #548c7d;
}
.pop_padding_bottom_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 70px;
    margin-top: 1rem;
    text-align: right;
}
.pop_padding_bottom_px{
    width:87px;
    margin-left: 9.5rem;
    margin-top: -1.2rem;
    float:left;
    font-size: 14px;
    color: #548c7d;
}
.pop_padding_left{
    width:87px;
    margin-left: -0.2rem;
    margin-top: 0.9rem;
    margin-bottom: 1.3rem;
    float:left;
    font-size: 14px;
    color: #548c7d;
}
.pop_padding_left_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 70px;
    margin-left: 0.7rem;
    margin-top: 0.8rem;
    text-align: right;
}
.pop_padding_left_px{
    width:87px;
    margin-left: 8.5rem;
    margin-top: -2.6rem;
    float:left;
    font-size: 14px;
    color: #548c7d;
}
.pop_margin{
    width:196px;
    height:126px;
    float:left;
    margin-left: -5.2rem;
    margin-top: 0.4rem;
    margin-bottom: 2rem;
    border: 1px solid white;
    border-radius: 9px;
}
.pop_margin_top{
    width:87px;
    margin-left: -0.3rem;
    margin-top: 0.4rem;
    float:left;
    font-size: 14px;
    color: #548c7d;
}
.pop_margin_top_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 70px;
    margin-left: 0.7rem;
    margin-top: 0.4rem;
    text-align: right;
}
.pop_margin_top_px{
    width:87px;
    margin-left: 8.5rem;
    margin-top: -1.2rem;
    float:left;
    font-size: 14px;
    color: #548c7d;
}

.pop_margin_right{
    width:87px;
    margin-top: 0.9rem;
    float:left;
    font-size: 14px;
    color: #548c7d;
}
.pop_margin_right_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 70px;
    margin-left: 5.9rem;
    margin-top: -1.3rem;
    text-align: right;
}
.pop_margin_right_px{
    width:87px;
    margin-left: 8.5rem;
    margin-top: -1.2rem;
    float:left;
    font-size: 14px;
    color: #548c7d;
}
.pop_margin_bottom{
    width:114px;
    margin-left: -0.3rem;
    margin-top: 1rem;
    float:left;
    font-size: 14px;
    color: #548c7d;
}
.pop_margin_bottom_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 70px;
    margin-top: 1rem;
    text-align: right;
}
.pop_margin_bottom_px{
    width:87px;
    margin-left: 9.3rem;
    margin-top: -1.2rem;
    float:left;
    font-size: 14px;
    color: #548c7d;
}
.pop_margin_left{
    width:87px;
    margin-left: -0.2rem;
    margin-top: 0.8rem;
    margin-bottom: 1.3rem;
    float:left;
    font-size: 14px;
    color: #548c7d;
}

.pop_margin_left_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 70px;
    margin-left: 0.7rem;
    margin-top: 0.8rem;
    text-align: right;
}
.pop_margin_left_px{
    width:87px;
    margin-left: 8.5rem;
    margin-top: -2.6rem;
    float:left;
    font-size: 14px;
    color: #548c7d;
}

.pop_file{
    width:292px;
    height:335px;
    float:left;
    border: 1px solid white;
    border-radius: 9px;
}
.pop_file_name{
    width:87px;
    float:left;
    font-size: 14px;
    color: #548c7d;
    margin-left: -0.2rem;
}
.pop_file_name_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 178px;
    margin-top: -0.1rem;
    text-align: right;
}
.pop_file_path{
    width:87px;
    float:left;
    font-size: 14px;
    color: #548c7d;
    margin-top: 2rem;
    margin-left: -16.8rem;
}
.pop_file_path_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 178px;
    margin-left: -11.2rem;
    margin-top: 1.9rem;
    text-align: right;
}
.pop_file_format{
    width:87px;
    float:left;
    font-size: 14px;
    color: #548c7d;
    margin-top: 4.3rem;
    margin-left: -16.4rem;
}
.pop_file_format_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 176px;
    margin-left: -11rem;
    margin-top: 4.2rem;
    text-align: right;
}

.pop_file_caption{
    width:87px;
    float:left;
    font-size: 14px;
    color: #548c7d;    
    margin-top: 6.5rem;
    margin-left: -16.9rem;
}
.pop_file_caption_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 180px;
    margin-left: -11.2rem;
    margin-top: 6.5rem;
    text-align: right;
}
.pop_file_width{
    width:87px;
    float:left;
    font-size: 14px;
    color: #548c7d;
    margin-top: 8.8rem;
    margin-left: -17.3rem;
}
.pop_file_width_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 70px;
    margin-left: -13rem;
    margin-top: 8.8rem;
    text-align: right;
}
.pop_file_height{
    width:87px;
    float:left;
    font-size: 14px;
    color: #548c7d;
    margin-top: 1.1rem;
    margin-left: 7.7rem;
}
.pop_file_height_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 70px;
    margin-left: 12rem;
    margin-top: -1rem;
    text-align: right;
}
.pop_file_resolution{
    width:87px;
    float:left;
    font-size: 14px;
    color: #548c7d;
    margin-top: 1.1rem;
}
.pop_file_resolution_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 182px;
    margin-left: -0.5rem;
    margin-top: 1.2rem;
    text-align: right;
}

.pop_file_description{
    width:87px;
    float:left;
    font-size: 14px;
    color: #548c7d;
    margin-top: 3.5rem;
    margin-left: -16rem;
}
.pop_file_description_tx{
    float: left;
    width: 244px;
    margin-left: -15.5rem;
    margin-top: 5.2rem;
    height: 39px;
    text-align: right;
    border-radius: 3px;
}
.pop_file_video{
    width:292px;
    height:335px;
    float:left;
    border: 1px solid white;
    border-radius: 9px;
}
.pop_file_video_name{
    width:87px;
    float:left;
    font-size: 14px;
    color: #548c7d;
    margin-left: -0.2rem;
}
.pop_file_video_name_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 178px;
}
.pop_file_video_path{
    width:87px;
    float:left;
    font-size: 14px;
    color: #548c7d;
    margin-top: 2rem;
    margin-left: -16.8rem;
}
.pop_file_video_path_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 178px;
    margin-left: -11.2rem;
    margin-top: 2.1rem;
}
.pop_file_video_format{
    width:87px;
    float:left;
    font-size: 14px;
    color: #548c7d;
    margin-top: 4.3rem;
    margin-left: -16.4rem;
}
.pop_file_video_format_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 176px;
    margin-left: -11rem;
    margin-top: 4.4rem;
}

.pop_file_video_size{
    width:87px;
    float:left;
    font-size: 14px;
    color: #548c7d;    
    margin-top: 6.5rem;
    margin-left: -17.6rem;
}
.pop_file_video_size_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 65px;
    margin-left: -13.8rem;
    margin-top: 6.6rem;
    text-align: right;
}
.pop_file_video_resolution{
    width:87px;
    float:left;
    font-size: 14px;
    color: #548c7d;
    margin-top: 6.5rem;
    margin-left: -9rem;
}
.pop_file_video_resolution_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 65px;
    margin-left: -4rem;
    margin-top: 6.6rem;
    text-align: right;
}
.pop_file_video_playtime{
    width:87px;
    float:left;
    font-size: 14px;
    color: #548c7d;
    margin-top: 1.3rem;
    margin-left: -0.3rem;
}
.pop_file_video_playtime_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 190px;
    margin-left: -0.5rem;
    margin-top: 1.4rem;
}
.pop_file_video_headImage{
    width:87px;
    float:left;
    font-size: 14px;
    color: #548c7d;
    margin-top: 1.2rem;
    margin-left: 0.3rem;
}
.pop_file_video_headImage_input{
    float: left;
    border-bottom: 1px solid #a59292;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 173px;
    margin-top: 1.5rem;
}
.pop_file_video_description{
    width:87px;
    float:left;
    font-size: 14px;
    color: #548c7d;
    margin-top: 3.5rem;
    margin-left: -16.3rem;
}
.pop_file_video_description_tx{
    float: left;
    width: 249px;
    margin-left: -15.8rem;
    margin-top: 5.2rem;
    height: 39px;
    border-radius: 3px;
}

.Modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.16);
}
.Modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    margin-left: 16px;
    margin-right: 16px;
}

.createBox{
    border: 2px solid #5c6e79;
    border-radius: 32px;
    width: 252px;
    height: 200px;
    text-align: center;
    background-color: #f0f1ec;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}
.templateName{
    border: 1px solid #887a7a;
    border-radius: 5px;
    width: 175px;
    height: 23px;
    text-align: center;
    float:left;
    margin-top: 0.8rem;
    margin-left: 2.3rem;
    margin-bottom: 3.8rem;
}

.createBox div{
    float:left;
}
.templateId{
    margin-top: 0.5rem;
    margin-left: 4.88rem;
    font-weight: 550;
    font-size: 18px;
    color: #354145;
}

.template_width_tx{
    margin-top:-2.9rem;
    margin-left: 2.5rem;
    font-size: 15px;
    font-weight: 500;
    color: #272b33;
}
.template_height_tx{
    margin-top:-0.7rem;
    margin-left: 2.4rem;
    font-size: 15px;
    font-weight: 500;
    color: #272b33;
}
.template_width{
    margin-top:-2.9rem;
    margin-left:5.6rem;
    float:left;
    width: 93px;
    height: 18px;
    border: 1.4px solid #75887b;
    border-radius: 3px;
    background-color: #f0f1ec;
    text-align: right;
    padding: 0.1rem;
}

.template_height{
    margin-top:-1.2rem;
    margin-left:5.6rem;
    float:left;
    width: 93px;
    height: 18px;
    border: 1.4px solid #75887b;
    border-radius: 3px;
    background-color: #f0f1ec;
    text-align: right;
    padding: 0.1rem;
}

.width_px{
    margin-top: -2.9rem;
    margin-left: 12.1rem;
}
.height_px{
    margin-top: -1.6rem;
    margin-left: 12.15rem;
}

.NewTemplate_cancle, .NewTemplate_create{
    margin-left: 0.4rem;
    margin-top: 1.2rem;
    width:78px;
    height:25px;
    border: none;
    background-color: #c8ccba;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 550;
    color: #354145;
}